@import "../../assets/scss/Colors.module.scss";
@import "../../assets/scss/Fonts.module.scss";

header {
  background-color: $backgroundFirst;

  .container {
    @include container;
    padding-bottom: $bottom;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 10px;

      img {
        width: 60px;
        height: 60px;
      }
      .hamburger {
        display: none;
      }
    }

    .desktop {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
      height: calc(100vh - 190px);
      padding: 30px 0;

      .social {
        display: flex;
        padding: 80px 80px 80px 0;
        margin-bottom: 100px;

        a {
          text-decoration: none;
          color: black;

          p {
            display: flex;
            transform: rotate(270deg);
            min-width: 210px;
            height: 100%;
            box-shadow: 5px 5px 21px 10px #b3fff2;
            padding: 10% 20%;
            margin: 30px;
            justify-content: center;
            align-items: center;
            font-size: 35px;
            border-radius: 12px;
            transition: all 0.4s;

            &:hover {
              background: $backgroundSecond;
              color: $backgroundFirst;
              cursor: pointer;
              scale: 1.4;
            }
          }
        }
      }

      .menu {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        text-align: center;

        li {
          list-style: none;
          padding: 8px;
          transition: all 0.4s;
          font-size: 20px;

          &:hover {
            color: $hover;
            cursor: pointer;
            scale: 1.4;
          }

          &:hover .arrow {
            opacity: 1;
          }

          &:active {
            color: $active;
          }

          .arrow {
            opacity: 0;
            margin-right: 7px;
          }

          &.active {
            font-weight: bold;
            color: $active;
            scale: 1.4;

            .arrow {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .mobile {
    display: none;

    .menuOpen {
      .menuClose {
        display: none;
      }
    }
  }
}

// Mobile
@media screen and (max-width: 520px) {
  header {
    padding: $mobile;

    .container {
      width: 100%;
      position: relative;

      .top {
        .hamburger {
          display: flex;
          font-size: 34px;
          color: $hamburger;
          transition: all 0.4s;

          &:hover {
            cursor: pointer;
            color: $hover;
          }

          &:active {
            color: $active;
          }
        }
      }
      .desktop {
        display: none;
      }
      .mobile {
        display: block;

        .menuOpen {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0;
          height: 300px;

          .social {
            display: flex;
            flex-direction: column;
            width: 50%;

            a {
              text-decoration: none;
              color: black;
              p {
                display: flex;
                min-width: 60px;
                height: 40px;
                font-size: 16px;
                margin: 15px;
                box-shadow: 5px 5px 21px 10px #b3fff2;
                justify-content: center;
                align-items: center;
                border-radius: 12px;
                transition: all 0.4s;

                &:hover {
                  scale: 1.1;
                  background: $backgroundSecond;
                  color: $backgroundFirst;
                  cursor: pointer;
                }
              }
            }
          }

          .menu {
            display: flex;
            width: 50%;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            li {
              list-style: none;
              padding: 8px;
              transition: all 0.4s;
              font-size: 20px;

              &:hover {
                color: $hover;
                cursor: pointer;
                scale: 1.1;
              }
              &:hover .arrow {
                opacity: 1;
              }

              &:active {
                color: $active;
              }

              .arrow {
                opacity: 0;
                margin-right: 7px;
              }

              &.active {
                font-weight: bold;
                color: $active;
                scale: 1.4;

                .arrow {
                  opacity: 1;
                }
              }
            }
          }
        }
        .menuClose {
          display: none;
        }
      }
    }
  }
}

// Tablet SD
@media screen and (min-width: 521px) and (max-width: 768px) {
  header {
    padding: $tablet;

    .container {
      width: 100%;

      .top {
        .hamburger {
          display: flex;
          font-size: 34px;
          color: $hamburger;
          transition: all 0.4s;

          &:hover {
            cursor: pointer;
            color: $hover;
          }

          &:active {
            color: $active;
          }
        }
      }

      .desktop {
        display: none;
      }

      .mobile {
        display: flex;

        .menuOpen {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0;
          height: 300px;

          .social {
            display: flex;
            flex-direction: column;
            width: 50%;

            a {
              text-decoration: none;
              color: black;
              p {
                display: flex;
                min-width: 60px;
                height: 40px;
                font-size: 16px;
                margin: 15px;
                box-shadow: 5px 5px 21px 10px #b3fff2;
                justify-content: center;
                align-items: center;
                border-radius: 12px;
                transition: all 0.4s;

                &:hover {
                  scale: 1.1;
                  background: $backgroundSecond;
                  color: $backgroundFirst;
                  cursor: pointer;
                }
              }
            }
          }

          .menu {
            display: flex;
            width: 50%;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            li {
              list-style: none;
              padding: 8px;
              transition: all 0.4s;
              font-size: 20px;

              &:hover {
                color: $hover;
                cursor: pointer;
                scale: 1.1;
              }
              &:hover .arrow {
                opacity: 1;
              }

              &:active {
                color: $active;
              }

              .arrow {
                opacity: 0;
                margin-right: 7px;
              }

              &.active {
                font-weight: bold;
                color: $active;
                scale: 1.4;

                .arrow {
                  opacity: 1;
                }
              }
            }
          }
        }
        .menuClose {
          display: none;
        }
      }
    }
  }
}

// Tablet HD
@media screen and (min-width: 769px) and (max-width: 1350px) {
  header {
    padding: $tablet;

    .container {
      width: 100%;

      .menuOpen {
        padding: 0;
        height: 300px;

        .social {
          width: 50%;

          a {
            p {
              min-width: 184px;
              height: 130px;
              margin: 7px;
              font-size: 30px;

              &:hover {
                scale: 1.1;
              }
            }
          }
        }

        .menu {
          width: 25%;

          li {
            &:hover {
              scale: 1.1;
            }
          }
        }
      }
    }
  }
}
