@import "../../assets/scss/Colors.module.scss";
@import "../../assets/scss/Fonts.module.scss";

.works {
  background-color: $backgroundFirst;

  .container {
    @include container;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: $bottom;
    padding-top: 50px;

    .wrapCard {
      display: flex;
      align-items: center;
      position: relative;

      .carousel {
        display: flex;
        width: 100%;
        justify-content: center;

        .carouselInner {
          display: flex;
          transition: transform 0.5s ease;
          .card {
            background-color: $backgroundSecond;
            flex: 0 0 25%;
            transition: transform 0.5s ease, opacity 0.5s ease;
            cursor: pointer;
            opacity: 0.5;
            transform: scale(0.9);
            border-radius: 5%;
            margin-right: 3px;
          }

          .card.active {
            transform: scale(1.2);
            opacity: 1;
            pointer-events: auto;
          }
        }
      }
    }
  }
}

// Mobile
@media screen and (max-width: 520px) {
  .works {
    padding: $mobile;
    .container {
      width: 100%;

      .wrapCard {
        .carousel {
          .carouselInner {
            flex-wrap: wrap;
            justify-content: center;

            .card {
              width: 100%;
              padding: 15px 0;
            }
          }
        }
      }
    }
  }
}

//  Tablet SD
@media screen and (min-width: 521px) and (max-width: 768px) {
  .works {
    padding: $tablet;
    .container {
      width: 100%;
      padding-top: 85px;

      .wrapCard {
        .carousel {
          .carouselInner {
            flex-wrap: wrap;
            justify-content: center;

            .card {
              width: 100%;
              padding: 15px 0;
            }
          }
        }
      }
    }
  }
}

// Tablet HD
@media screen and (min-width: 769px) and (max-width: 1350px) {
  .works {
    padding: $tablet;
    .container {
      width: 100%;

      .wrapCard {
        .carousel {
          .carouselInner {
            flex-wrap: wrap;
            justify-content: center;

            .card {
              width: 100%;
              padding: 15px 0;
            }
          }
        }
      }
    }
  }
}
