@import "../../assets/scss/Colors.module.scss";
@import "../../assets/scss/Fonts.module.scss";

.footer {
  background: $backgroundSecond;
  height: 1.5rem;
  .container {
    @include container;
    display: flex;
    justify-content: center;
    position: relative;

    .text {
      font-size: 12px;
      padding: 5px 0;
    }

    .arrow {
      position: fixed;
      right: 20px;
      bottom: 20px;
      font-size: 2.5rem;
      color: $backgroundSecond; // Предполагается, что основной цвет определен в Colors.module.scss
      cursor: pointer;
      padding: 0.5rem;
      transition: transform 0.3s ease, opacity 0.3s ease;
      opacity: 0.7;

      &:hover {
        transform: translateY(-5px);
        opacity: 1;
      }
    }
  }
}

// Mobile
@media screen and (max-width: 520px) {
  .footer {
    padding: $mobile;
    .container {
      width: 100%;

      .arrow {
        font-size: 40px;
      }
    }
  }
}

//  Tablet SD
@media screen and (min-width: 521px) and (max-width: 768px) {
  .footer {
    padding: $tablet;
    .container {
      width: 100%;

      .arrow {
        font-size: 45px;
      }
    }
  }
}

// Tablet HD
@media screen and (min-width: 769px) and (max-width: 1350px) {
  .footer {
    padding: $tablet;
    .container {
      width: 100%;
    }
  }
}
